* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
  background-color: whitesmoke;
  font-family: 'Baloo Bhai 2';
}
#head3 {
    display: inline-block;
    font-size: 24px;
    margin-left: 240px;
    margin-right: 80px;
}
a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

header {
    padding: 0.7em;
    box-shadow: 0 9px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

nav ul {
  display: inline-flex;
  margin-left: 10px;

}
nav ul li {
  margin-right: 1rem;
}

.menu {
  padding: 0.5rem;
}
.menu:hover {
  border: 1px solid #3545c1;
  border-radius: 18px;
  font-size: 1em;
}



/*SOCIAL MEDIA ICONS*/
 .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
     margin-left: 280px;
  }

  .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #f2f2f2;
    color: #555555;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
.social-icons a:hover svg {
    transform: scale(1.5);
}

  .social-icons svg {
    width: 20px;
    height: 20px;
    fill: #555555;

    transition: fill 0.3s ease;
  }




.job {
  padding: 10px;
  margin-bottom: 10px;
}

.job h3 {
  margin-top: 0;
}

.job ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.job li {
  margin-bottom: 5px;
}
.job:hover {
  box-shadow: 10px 10px 20px lightgray;
  background-color:lightgray;
  cursor: pointer;
  color: black;
}


.job:hover h3 {
  font-size: 30px;
  font-style: bold;
}

.date {
  float: right;
  font-size: 1em;
}

#j1{
  color: #2b2fe2;
}
#j2{
color: #f52cbc;
}
#j3{
  color:  #600891;
}